.header {
    z-index: 1;
}
#groupfoto{
    position:absolute;
    height:auto;
    width:50%;
    right: 3%;
    top: 15%;
    border: solid black 1px;
}
#behindthescenes1 {
    position: absolute;
    height: auto;
    width: 32%;
    left: 5%;
    top: 110%;
    padding-bottom: 1%;
    -webkit-text-stroke: black 1px;
}
p { 
    padding-left: 1.2%;
}
.intro{
    margin-left: 0.5%;
    margin-right: 55%;
    text-align: left;
}
.intro_2 {
    text-align: right;
    margin-left: 55%;
    margin-right: 2.5%;
    position: absolute;
    bottom: -20%;
}
.Afkortingfoto{
    height: 300px;
    width: auto;
}
.content a{
    text-decoration: none;
    color: #02029b;
}
@media screen and (max-width:700px) {
    #groupfoto{
        position: relative;
        width: 90%;
        top: 1%;
        left: 50%;
        transform:translateX(-50%);
    }
    #behindthescenes1 {
        position: relative;
        width: 90%;
        transform: translateX(-50%);
        left: 50%;
        top: 0;
    }
    .intro {
        margin-right: 3%;
        margin-left: 3%;
        text-align: justify;
    }
    .content img {
        border-width: 2px !important;
    }
    .intro_2 {
        text-align: left;
        margin-left: 5%;
        margin-right: 5%;
        position: relative;
        bottom: 0;
    }
}