.content {
    width: 100%;
    max-width: 100%;
}
.header {
    z-index: 1;
}
#groupfoto{
    position:absolute;
    height:500px;
    width:auto;
    right: 40px;
    top: 100px;
}
#behindthescenes1{
    position: absolute;
    height:auto;
    width:500px;
    left: 40px;
    top: 900px;
}

.intro{
    text-align: left;
    margin-left: 20px;
    margin-right: 720px;
}
.Afkortingfoto{
    height: 300px;
    width: auto;
}
