.sideNav * {
    margin: 0;
    padding: 0;
}
#general-information {
    background-color: #feba76;
}
#general-information:before{
    border-width: 35px;
    left: -50px;
    border-color: #f3b271 #f3b271 #f3b271 transparent;
}
#general-information:after{
    border-color: #f3b271 transparent#f3b271 #f3b271;
    border-width: 35px;
    right: -50px;
}
#games{
background-color: #caf2a0;
}
#games:before{
    border-color:#c4eb9a #c4eb9a #c4eb9a transparent;
}
#games:after{
    border-color:#c4eb9a transparent #c4eb9a  #c4eb9a;
}
#forum{
    background-color: #ff7d9b;
}
#forum:before{
    border-color: #f37a96 #f37a96 #f37a96 transparent;
}
#forum:after{
    border-color: #f37a96 transparent #f37a96 #f37a96;
}
#interviews{background-color: #4fabac;
}
#interviews:before{
    border-color:  #48a0a1 #48a0a1 #48a0a1 transparent;
}
#interviews:after{
    border-color:  #48a0a1 transparent#48a0a1 #48a0a1;
}

.fa-gradient{
    background: -webkit-linear-gradient(#8a3ab9,#bc2a8d,#fccc63);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
.sideNav{
    background-color: #ebb6c2 ;
    height: 100%;
    width: 25%;
    top: 0;
    left: -300px;
    text-align: center;
    z-index: 2;
    background-position-x: left;
    background-position-y: top;
    max-width: 300px;
    position: fixed;
    overflow-x: hidden;
    transition: 1s;
}
.sideNav ul li{
    list-style: none;
    position: relative;
    display: list-item;
}
.nav{
    display: flex;
    flex-direction: column;
    padding:25%;
    margin-left: auto;
    margin-right: auto;
    position:relative;
    bottom: 4.5%;
}
.socials {
    width: fit-content;
    height: auto;
    flex-direction: row;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    position:relative;
    bottom: 0;
    text-decoration: none;
}
.fab, .fa{
    margin: 10px
}
#menu, #close{
    padding: 4px;
    position: absolute;
    cursor: pointer;
    font-size: 30px;
}
#close{
    display: block;
    left: 82%;
    position: absolute;
}
#menu{
    display: block;
    position: fixed;
    z-index: 1;
    color: black;
}
.logo{
    width: auto;
    height: 15%;
    padding: 15px;
    padding-top: 30px;
}
@media screen and (max-width: 700px){
    .sideNav{
        width: 70%;
        position: absolute;
        transition: 1s;
        left: -300px;
        position: fixed;
        overflow-x: hidden;
    }
    #menu, #close{
        padding: 4px;
        position: absolute;
        cursor: pointer;
        font-size: 30px;
    }
    #close{
        display: block;
        left: 82%;
        position: absolute;
    }
    #menu{
        display: block;
    }
    .socials {
        bottom: 2%;
    }
    .content {
        margin-left: 0;
    }
}