* {
    font-family: 'Poppins', sans-serif;
}

a {
    text-decoration: none;
    color: black;
}
.background{
    display: block;
    position: fixed;
    background-color: white;
    width: 100%;
    min-width: 100%;
    min-height: 100%;
    height: 100%;
    max-height: 100%;
    max-width: 100%;
    z-index: -1;
}
.content{
    background-color: transparent;
    height: auto;
    position: absolute;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    display: block;
    width: 100%;
    height: 100%;
    margin: 0;
    top: 58px;
    padding: 0;
    font-family:'Poppins', sans-serif;
}
.header {
    position: fixed;
    height: 58px;
    width: 100%;
    content: center;
    z-index: 1;
}
.header h1{
    text-align: center;
    color: #ffffff;
    background-color: #ebb6c2;
    margin-block-start: 0;
    height: 58px;
    margin-block-end: 0;
    margin-block-start: 0;
    -webkit-text-stroke: black 0.1px;
    font-family: 'Permanent Marker', cursive;
}
h2,h3{
    text-align: center;
}
p{
    padding-left: 15px;
}
#HeaderWhatisHIV{
    color: #c158d6;
}
#Headerstage1{
    color:#f50aa7;
}
#Headerstage2{
    color:#ee0c88;
}
#Headerstage3{
    color:#ee0c57;
}
#Headercauses{
    color: #ff8800;
}
#Headereffects{
    color:#93e70a;
}
#Headerpreventions{
    color:#e61e50
}
#Headerhistory{
    color:#0a8181;
}
#wordsearch{
    position: absolute;
    left:250px;
    top:100px;
    font-size: larger;
}
@media screen and (max-width: 700px) {
}

