* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

.logo{
    width: auto;
    height: 15%;
    padding: 15px;
    padding-top: 30px;
}
a {
    text-decoration: none;
    color: black;
}
