h1 {
  text-align: center; /* to center #puzzle on small devices */
}
#main {
  margin: 0 auto;
  max-width: 80rem;
  text-align: center; /* to center #puzzle on small devices */
}
@media only screen and (min-width: 700px) {
  #main {
    text-align: left;
  }
}

#puzzle {
  display: inline-block;
  border: 1px solid black;
  padding: 3vw;
}

#puzzle > div { /* rows */
  width: 100%;
  margin: 0 auto;
}

/* style for each square in the puzzle */
.puzzleSquare {
  height: 5.5vw;
  width: 5.5vw;
  text-transform: uppercase;
  background-color: transparent;
  border: 0;
  font: 5vw sans-serif;
}
@media only screen and (min-width: 700px) {
  #puzzle {
    top: 5%;
    left: 10%;
    max-width: 39vw;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
  }
  .puzzleSquare {
    height: 2.3vw;
    width: 2.3vw;
    font: 1.75vw sans-serif;
  }
  #words a{
    width: 12%;
    padding: 0;
    margin: 10px;
    margin-bottom: 1px;
  }
  #words li:not(:last-child) {
    padding-top: 0.01px;
    padding-bottom: 0.01px;
  }
  #words li input{
    padding-top: 0.01px;
    padding-bottom: 0.01px;
  }
}
button::-moz-focus-inner {
  border: 0;
}

/* indicates when a square has been selected */
#puzzle .selected {
  color: orange
}

#create-grid{
  display: none;
}

/* indicates that the square is part of a word that has been found */ 
#puzzle .found {
  background-color: rgba(0, 0, 255, 0.418);
  color: white;
}

#puzzle .solved {
  background-color: #e0a9e0be;
  color: white;
  z-index: 5;
}

/* indicates that all words have been found */
#puzzle .complete {
  background-color: green;
}

/**
* Styles for the word list
*/
#words {
    -moz-column-count: 2;
    -webkit-column-count: 2;
    column-count: 2;
    column-gap: 20px;
}

#words li {
  	padding: 3px;
    font-size: 1em;
  	font-family: 'Poppins', sans-serif;
}

#words *{
  	background-color: transparent;
}

#words{
	display: inline-block;
  	max-width: 30rem;
  	padding: 1em;
  	list-style-type: none;
  	text-align: left;
  	background-color: transparent;
  	padding: 5px;
  	border: 1px black solid;
  	position: absolute;
  	right: 5%;
  	top: 5%;
  	height: 44%;
}	
.defs {
	right: 3%;
	margin-right: 3%;
	top: 52%;
	display: none;
	max-width: 31%;
	position: absolute;
	color: #000000;
	font-weight: 300;
	font-size: 0.8em;
}
.wordFound {
  	text-decoration: line-through;
  	color: gray;
}

input {
  	border: none;
  	font-size: 1em;
}

#create-grid, #solve {
  	display: block;
  	margin-top: 1rem;
}

#result-message {
  	font-size: 1.2em;
}

.button {
  	position: absolute;
  	z-index: 2;
  	right: 14%;
  	text-align: center;
  	bottom: 11.5%;
  	width: 20%;
  	height: 10%;
  	font-size: 35px;
  	align-items: center;
  	background-color: #0A66C2;
  	border: 0;
  	border-radius: 100px;
  	box-sizing: border-box;
  	color: #ffffff;
  	cursor: pointer;
  	display: inline-block;
  	font-weight: 600;
  	justify-content: center;
  	line-height: 20px;
  	max-width: 480px;
  	min-height: 40px;
  	min-width: 0px;
  	padding: 0px;
  	padding-left: 20px;
  	padding-right: 20px;
  	text-align: center;
  	touch-action: manipulation;
  	transition: background-color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, box-shadow 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s;
  	user-select: none;
  	-webkit-user-select: none;
  	vertical-align: middle;
}

.button:hover,
.button:focus { 
    color: #ffffff;
    background-color: #16437E;
}

.button:active {
    color: rgb(255, 255, 255, .7);
    background: #09223b;
}

@media screen and (max-width: 700px) {
	#words {
		right: -0%;
		transform: translateX(100%);
		width: 300px;
		height: auto;
		column-count: 2;
	}
	.button {
		width: 70%;
		height: 8%;
		font-size: 2.5em;
		left: 50%;
		transform: translateX(-50%);
		bottom: 5%;
	}
	#puzzle {
		margin-top: 3%;
		left: 3%;
		touch-action: none;
	}
	.defs {
		margin-left: 5%;
		margin-right: 5%;
		top: 65%;
		max-width: 90%;
	}
}